header {
    height: 3rem;
    background-image: linear-gradient(to bottom, #0a5c71, #063642);
    position: relative;
  }
    nav {
      position: absolute;
      bottom: 2px;
      li {
        display: inline-block;
        margin: 0 1rem;
        vertical-align: baseline;
        padding-bottom: 1rem;
        a {
          text-decoration: none;
          color: #FFFFFF;
         
        }
      }
    }