
    @mixin flexRowCenter {
      display: flex;
      flex-flow: row nowrap;
    }
    // @use "main" as c;
    header{
      height: 4rem;
      background-image: linear-gradient(to bottom, #0a5c71, #063642);
      position: fixed;
      top: 0;
      width: 80vw;
      z-index: 100;
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    nav {
      position: relative;
      width: 50vw;
     
      ul {
       @include flexRowCenter();
        justify-content: space-around;
        padding: 1rem 0 0 0;
        li {
         list-style-type: none;
          margin: 0 1rem;
          vertical-align: baseline;
          padding-bottom: 1rem;
          a {
            text-decoration: none;
            color: #FFFFFF;
            
           
          }
      }
    }
    }
    // class sticky
    .mySticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
    }