body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    position: relative;
    min-height: 100vh;
    margin-top: 10rem;
}
/* #main-wrapper{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
   
  }
  main {
    margin: 20px 0 0;
    padding-bottom: 20px;
    .gallery{
        margin: 1rem auto;
    }
    article h1,p {
        margin: 2rem auto;
        width: 80vw;
    }
}
main img {
    padding: 1.5rem;
} */